<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="" routerLinkActive="active">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500" height="500" viewBox="0 0 500 500">
          <defs>
            <clipPath id="clip-crud">
              <rect width="500" height="500"/>
            </clipPath>
          </defs>
          <g id="crud" clip-path="url(#clip-crud)">
            <rect width="500" height="500" fill="#fff"/>
            <g id="Group_51" data-name="Group 51">
              <rect id="Rectangle_44" data-name="Rectangle 44" width="500" height="500"/>
              <g id="Group_50" data-name="Group 50">
                <path id="Path_22" data-name="Path 22" d="M257.375,188.078a61.609,61.609,0,0,1,50.51,26.28l30.55-30.17a103.539,103.539,0,0,0-77.06-33.94c-56.66,0-102.58,44.7-102.58,99.83,0,31.079,14.6,58.86,37.48,77.17l-.08-69.76a59.9,59.9,0,0,1-.49-7.74,61.679,61.679,0,0,1,61.67-61.67Z" fill="#f8d242"/>
                <path id="Path_23" data-name="Path 23" d="M308.275,284.578a61.6,61.6,0,0,1-50.9,26.839c-1.32,0-2.62-.039-3.92-.129v-24.9h.05v-78.94a39.49,39.49,0,0,0-37.99,37.3l-.06,94.63c.14.07.28.14.42.2a104.744,104.744,0,0,0,123.02-24.1Z" fill="#f8d242"/>
              </g>
            </g>
          </g>
        </svg>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="" routerLinkActive="active">Home
                  <span class="sr-only">(current)</span>
                </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contactus" routerLinkActive="active">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="tel:+916379445754">+91 6379445754</a>
                </li>
                <li class="nav-item">
                    <a href="#apply-now">Enroll Now</a>
                </li>
            </ul>
        </div>
    </div>
</nav>